{% include header.html %}
<br />
<br />
<br />
<div id="main">
    <div class="inner" style="float: left; padding-left: 184px; width: 700px;">
            {% assign posts_collate = site.posts %}
            {% include posts_collate_blog.html %}
            <br /><br /><br /><br />
    </div>

    <div style="float: left; position: fixed; left: 920px;">
            <center><img src="/PNGs/archive.png" /></center>
            <br />
            {% assign posts_collate = site.posts %}
            {% include posts_collate_archive.html %}
    </div>

</div>

{% include footer.html %}
