{% include header.html %}
<br />
<br />
<br />
<div id="main">
  <div class="inner">
    <div style="width:700px;display:inline;float:left;">
            {% assign posts_collate = site.posts %}
            {% include posts_collate_blog.html %}
            <br /><br /><br /><br />
    </div>

    <div style="display:inline;position:fixed;right:17%;">
            <center><img src="/PNGs/archive.png" /></center>
            <br />
            {% assign posts_collate = site.posts %}
            {% include posts_collate_archive.html %}
    </div>
  </div>
</div>

{% include footer.html %}
